a{text-decoration:none;}
.header-button{
    height: 29px;
    background-image: url("../images/header-bar1.png");
    background-repeat: repeat-x;
}
.header-button .menu-list{
    float: left;
}
.header-button .tool-list{
    float: right;
}
/*** zhengchj start ***/
body{
    min-width: 1100px;
}
.header-button ul{
    list-style: none;
    overflow: hidden;
    padding: 3px 0;
}
.header-button li{
    float: left;
}
.menu-list ul li{
    margin: 0 20px 0 10px;
    padding: 3px 5px;
}
.menu-list ul li:hover{
    background-color: rgb(189,211,237);
}
.menu-list ul li.active{
    background-color: rgb(189,211,237);
}
.menu-list ul li a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(51,51,51);
    display: block;
    padding-left: 17px;
    background-image: url("../images/menu-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.tool-list ul li{
    margin-right: 40px;
    padding: 3px 0;
}
.tool-list ul li a.tool-item{
    text-decoration: none;
    font-size: 12px;
    color: rgb(51,51,51);
    display: block;
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}
.tool-list .tool-item.tool-item-setting{
    background-image: url("../images/settings-icon.png");
}
.tool-list .tool-item.tool-item-question{
    background-image: url("../images/question-icon.png");
}
.tool-list .tool-item.tool-item-logout{
    background-image: url("../images/logout-icon.png");
}
.header .header-info{
    height: 25px;
    background-image: url("../images/header-bar2.png");
    background-repeat: repeat-x;
}
.header .header-info .wrapper{
    margin-left: 15px;
}
.header .header-info .wrapper span{
    font-size: 12px;
    color: rgb(51,51,51);
}
.header .header-info .wrapper span.space{
    margin-right: 18px;
}
.main{
    margin: 6px;
}
.box{
    border: 1px solid rgb(158,186,229);
}
.box .box-content{
    background-color: rgb(249,253,255);
}
.title-bar{
    height: 24px;
    background-image: url("../images/title-bar.png");
    background-repeat: repeat-x;
}
.title-bar .title-name{
    color: #15487f;
    font-size: 12px;
    line-height: 24px;
    margin-left: 10px;
    font-weight: bold;
}
.title-bar-border-top{
    border-top: 1px solid rgb(158,186,229);
}
.title-bar-border-bottom{
    border-bottom: 1px solid rgb(158,186,229);
}
.main .table-area{
    margin-top: 5px;
}
.button-group{
    overflow: hidden;
}
.button{
    display: inline-block;
    background-image: url("../images/btn-blue.png");
    background-repeat: repeat-x;
    border: 1px solid rgb(158,186,229);
    padding: 0 10px;
    text-decoration: none;
    line-height: 20px;
    color: #fff;
    margin: 0 5px;
}
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
}
.icon.icon-view{
    background-image: url("../images/view-icon.png");
}
.icon.icon-delete{
    background-image: url("../images/delete-icon.png");
}

/*** zhengchj end ***/




/*** tianhf start ***/
.padding-0{padding:0 !important;}
.border-bottom-0{border-bottom:0 !important;}
.pull-right{float:right;}
.pull-left{float:left;}
.bar{height:30px;background:#d4e1f2;}
.bar .bar-content{text-align: center;height:20px;line-height: 20px;padding:5px 10px;}
.bar-text{display:inline-block;*display:inline; *zoom:1;color:#15487f;font-size:14px;text-align: center;margin:0 auto;}


.tab-box{height:25px;padding-top:5px;background:#d4e1f2;text-align: center;}
/*.tab-box ul{display: block;height:100%;text-align: center;}
.tab-box li{display: block;height:100%;float:left;width:91px;margin: 0 9px;}
.tab-box li a{display: block;height:100%;line-height:30px;font-size:12px;color:#15487f;background:url("../images/tab-bg.png") no-repeat center center;
}*/
.tab-box .tab-btn-box{float:left;height:24px;margin:0 5px;}
.tab-box .tab-btn-box .tab-btn-left{float: left;width:4px;height:24px;background: url("../images/tab-btn-left.png") no-repeat center center;}
.tab-box .tab-btn-box .tab-btn-right{float: left;width:4px;height:24px;background: url("../images/tab-btn-right.png") no-repeat center center;}
.tab-box .tab-btn-box.active .tab-btn-left{background: url("../images/tab-btn-left-active.png") no-repeat center center;}
.tab-box .tab-btn-box.active .tab-btn-right{background: url("../images/tab-btn-right-active.png") no-repeat center center;}
.tab-box .tab-btn-box .tab-btn-content {float: left;height:24px;padding:0 5px;background:url("../images/tab-btn-content.png") repeat-x center center;}
.tab-box .tab-btn-box.active .tab-btn-content{background:url("../images/tab-btn-content-active.png") repeat-x center center;}
.tab-box .tab-btn-box .tab-btn-content a{font-size:12px;color:#15487f;}
.tab-center{display:inline-block;*display:inline; *zoom:1;}
/** 表格**/
.t-h-w10{width:10%}
.t-h-w15{width:15%}
.t-h-w20{width:20%}
.t-h-w25{width:25%}
.t-h-w30{width:30%}
.t-h-w35{width:35%}
.t-h-w40{width:40%}
.t-h-w45{width:45%}
.t-h-w60{width:60%}
.t-h-w65{width:65%}
.t-h-w50{width:50%}
.t-h-w55{width:55%}
.t-h-w70{width:70%}
.t-h-w75{width:75%}
.t-h-w80{width:80%}
.t-h-w85{width:85%}
.t-h-w90{width:90%}
.t-h-w100{width:100%}
.table{width:100%;}
.table .table-thead {}
.table .table-thead th{padding:5px 0;border-top:1px solid #9ebae5;border-bottom:1px solid #9ebae5;background-color:#f4f4f4;font-size: 12px;color:#15487f;}
.table .table-tbody{}
.table .table-tbody tr {text-align: center;}
.table .table-tbody tr td{padding:10px 5px;background:#f9fdff;vertical-align: middle;font-size:12px;color:#333;border-bottom:1px solid #dcdcdc;}
.table .table-tbody tr.active td{background:#d4e1f2;}

.patent-info{width:79%;font-size: 12px;color:#444;}
.patent-info .patent-content{padding:40px;}
.patent-info .patent-content table tr td{padding:10px 0;}
.patent-info .patent-content table tr td.patent-title{width:170px;}
.patent-img{width:20%;padding:40px 0;}
.patent-img-box{width:179px;height:201px;margin: 0 auto;border:1px solid #dedede;}

/*** btn **/
.btn{display:inline-block;*display:inline;*zoom:1;height:19px;padding:0 15px;line-height :19px;border:1px solid #9ebae5;background:url("../images/btn-bg.png") repeat-x center center;font-size:12px;color:#15487f;text-align: center;}
.btn a{color:#15487f;}
/*** tianhf start ***/