.header{
    height: 29px;
    background-image: url("../images/header-bar1.png");
    background-repeat: repeat-x;
}
.header .menu-list{
    float: left;
}
.header .tool-list{
    float: right;
}
/*** zhengchj start ***/

/*** zhengchj end ***/




/*** tianhf start ***/



/*** tianhf start ***/