.main-guide .left-side{
    width: 20%;
    float: left;
}
.main-guide .right-side{
    width: 79%;
    float: right;
}
.main-guide .left-side .box-content{
    padding: 2px;
}
.main-guide .accordion{
    height: 515px;
}
.main-guide .accordion ul{
    list-style: none;
}
.main-guide .accordion .wrapper{
    border: 1px solid rgb(158,186,229);
    padding: 0 5px;
    background-color: rgb(223,232,247);
    margin-bottom: 3px;
}
.main-guide .accordion .wrapper.active>.accordion-item{
    background-image: url("../images/unextend-icon.png");
}
.main-guide .accordion .accordion-item{
    display: block;
    text-decoration: none;
    color: #15487f;
    font-size: 12px;
    font-weight: bold;
    background-image: url("../images/extend-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 22px;
    text-align: center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}
.main-guide .accordion .sub .wrapper{
    border: none;
}
.main-guide .accordion .sub .accordion-item{
    background-image: none;
    padding-right: 0;
    text-align: left;
}
.main-guide .case-ipc-info{
    padding: 6px 10px;
}
.main-guide .case-ipc-info strong{
    float: left;
}
.main-guide .case-ipc-info ul{
    float: left;
}
.main-guide .case-ipc-info .case-ipc-info-item{
    margin-bottom: 10px;
}
.main-guide .ipc-area{
    height: 345px;
}
.main-guide .ipc-tree{
    float: left;
    width: 23%;
    background-color: #fff;
    height: 100%;
}
.main-guide .ipc-meaning{
    float: left;
    width: 77%;
    height: 100%;
}
.main-guide .ipc-meaning .wrapper{
    border-left: 1px solid rgb(158,186,229);
    height: 100%;
}
.main-guide .ipc-meaning .cn-meaning{
    float: left;
    width: 50%;
}
.main-guide .ipc-meaning .en-meaning{
    float: left;
    width: 50%;
}
.main-guide .meaning-content{
    padding: 10px 18px;
    font-size: 12px;
    color: rgb(47,47,47);
}
.main-guide .box-content-case{
    height: 148px;
    overflow-y: auto;
}