@charset "utf-8";

.main-similarity  .box-content{height:100%;}
.main-similarity .left-side{float:left;width:20%;}
.main-similarity .right-side{float:right;width:79%;}
.main-similarity .right-side .box{height: 344px;}
.main-similarity .right-side .box.similarity-top-height{height: 373px;}
.main-similarity .left-side .box-height{height:1020px;padding-bottom:44px;}
.main-similarity .left-side .box-height .page-box .btn{padding:0 4px;}



